<html>
   
   <head>
      <meta content = 'text/html; charset = UTF-8' http-equiv = 'Content-Type' />
   </head>
   
   <body>
      <h1>Hi, <%= @employee.full_name %></h1>
      <h2>Employer <%= @employer.full_name %> had accepted your request for position of <%= @job.title %></h2>
      
      <p>
         To login to the site, just follow this link: 
         <a href="<%= @url1 %>">Link </a>
      </p>
      
      <p>Have a great day!</p>
      
   </body>
</html>