<html>
   
   <head>
      <meta content = 'text/html; charset = UTF-8' http-equiv = 'Content-Type' />
   </head>
   
   <body>
      <h1>Hi, <%= @employee.full_name %></h1>
      <h2>Welcome to Work.com! </h2>
      <h2>Here's your <a href="<%= @url %>">page</a></h2>
      
      <p>Have a great day!</p>
      
   </body>
</html>